body{
    background-color: #4AA984;
}
h1{
    color: white;
}

h5,h4{
    color:#fafafa;
}
p {
    color: #fafafa;
}

#link-what {
    display: none;
     
}

#valorDigitado{
    width: 200px;
    height: 90px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#img-what{
    margin-top: -5px;
    border-radius: 10px;
}
#banner {
     width: 400px;
     border-radius:10px;
      
}

#logo-what{
    width: 80px;
}

#texto-div {
    margin-top: -600px;
    margin-left: 220px;

}

#texto {
    font-size: 10px;
}

.counter{
    text-align: center;
    font-size: 100px;
  }

#bnt {
    width: 100%;
}

 